canvas { background: rgb(255, 157, 248);
     display: block;
     border: 5px solid rgb(172, 35, 199);
      margin: 50px auto;}
/* div {
    width: 300px;
    border: 15px solid rgb(137, 0, 164);
    padding: 100px;
    margin: 20px;
  } */
